<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Find your kind of Crowd!</h2>
                <hr class="light">
                <!-- <p class="text-faded">From people playing basketball, soccer, football. People in parades, festivals, parties and much more!</p> -->
                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/_lW18Y9zWAs" frameborder="0" allowfullscreen></iframe></div>
            </div>
        </div>
    </div>
</section>
