<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Find your kind of Crowd!</h2>
                <hr class="light">
                <!-- <p class="text-faded">From people playing basketball, soccer, football. People in parades, festivals, parties and much more!</p> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_lW18Y9zWAs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
