<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Press, feedback or just wanna say thanks? We'd love to hear from you!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://twitter.com/Crowder_Tweets">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@Crowder_Tweets</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://instagram.com/Crowder_IG">
            <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@crowder_ig</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.facebook.com/Crowderfb-560988437417471/">
            <i class="fa fa-facebook-official  fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@Crowder_FB</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:contact@crowderapp.com">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Contact@crowderapp.com</p>
            </a>
        </div>
    </div>
</section>
